<div>
	<form class="navbar-form" role="search">
	  <div class="form-group">
	  	<!-- Search by name -->
	    <input type="text" class="form-control" placeholder="" ng-model="searchProduct.name">
		<!-- Search by category -->
		<select class="selectpicker show-tick form-control" data-live-search="true" title="Category" ng-init="searchProduct.category = categories[0].value" ng-model="searchProduct.category" ng-options="category.value as category.name for category in categories">
		</select>
		<!-- Search by region -->
		<select class="selectpicker show-tick form-control" data-live-search="true" title="Region" ng-init="searchProduct.region = regions[0].value" ng-model="searchProduct.region" ng-options="region.value as region.name for region in regions">
		</select>
		<!-- Seach by location -->
	    <input type="text" class="form-control" placeholder="City" ng-model="searchProduct.location">
	  </div>
	</form>
</div>

<div class="jumbotron text-center">
	<div class="products">
		<div class="product" ng-repeat="product in products | filter:searchProduct:strict">
			<div class="date">
				<p>{{ product.created | date:'d MMM'}}</p>
				<p>{{ product.created | date:'hh:mm'}}</p>
			</div>
			<img src="{{ product.img1 }}" alt="{{ product.name }}" class="img-thumbnail">
			<div class="info">
				<p><b><a ng-href="/#/product/{{product._id}}">{{ product.name }}</a></b></p>
				<p>{{ product.category }}</p>
				<p>{{ product.location }}</p>
				<p ng-if="product.price"><b>{{ product.price }} €</b></p>
			</div>
		</div>
	</div>
	<uib-pagination total-items="paginatedResponse.total" ng-change="getProducts()" class="pagination-sm" ng-model="pageIndex" boundary-links="true" boundary-link-numbers="true" force-ellipses="true" max-size="maxSize" items-per-page="pageSize"></uib-pagination>
	<div class="latest">
		<h2>Featured Products</h2>
		<div class="product" ng-repeat="product in products | limitTo:4">
			<img src="{{ product.img1 }}" alt="{{ product.name }}" class="img-thumbnail">
			<div class="info">
				<p></p><b>{{ product.name }}</b></p>
				<p ng-if="product.price"><b>{{ product.price }} €</b></p>
			</div>
		</div>
	</div>
</div>